 
 .desktoptrainseat {
     border-radius: 15px;
     width: 80vw;
     background-color: #fff;
     box-shadow: 1px 2px 6px rgba(0, 0, 0, .15), -1px -1px 6px rgba(0, 0, 0, .06);
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 150px auto 8vw;
 }

 .desktop-trainseat-tab {
     width: 100%;
     padding: 1rem 1rem 0;

 }

 .desktop-trainseat-list {
     display: flex;
     gap: 10px;
     border-bottom: 1px solid rgba(34, 34, 34, .2)
 }

 .desktop-traintab-list {

     color: rgba(34, 34, 34, .6);
     list-style-type: none;
     padding-right: 1rem;
     cursor: pointer;
     padding-bottom: 10px;
     font-style: normal;
     font-weight: 400;
     font-size: .875rem;
     line-height: 1.75;

 }

 .desktop-traintab-list:hover {
     color: #0077B2;
     border-bottom: 2px solid #0077B2;
 }

 .seatsvg {
     width: 1em;
     height: 1em;
     display: inline-block;
     fill: currentColor;
     font-size: 1.5rem;
 }

 .Seatform {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center
 }

 .seatbook {

     border-bottom: 10px solid rgba(34, 34, 34, .1);


 }

 .seat-book-ticket {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem
 }

 .formseat {

     display: inline-flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     position: relative;
     min-width: 0;
     padding: 0;
     margin: 0;
     border: 0;
     vertical-align: top;
 }

 .MuiAutocomplete-hasPopupIcon.css-18nc3u2,
 .MuiOutlinedInput-root,
 .MuiAutocomplete-hasClearIcon.css-18nc3u2,
 .MuiOutlinedInput-root {
     padding-right: 39px;
 }

 .labelin {
     color: rgba(0, 0, 0, 0.6);

     font-weight: 400;
     font-size: 1.1rem;
     line-height: 1.4375em;
     padding: 4px;
     display: block;
     transform-origin: left top;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: calc(133% - 32px);
     position: absolute;
     left: 0px;
     top: 0px;
     transform: translate(14px, -9px) scale(0.75);
     transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
     max-width: 200ms, cubic-bezier(0, 0, 0.2, 1) 0ms;
     z-index: 6;


     background-color: #fff;
 }

 .css-13t6lrm {
     justify-content: center;
     position: relative;

     background-color: transparent;
     outline: 0;
     border: 0;
     margin: 0;
     border-radius: 0;
     padding: 0;
     cursor: pointer;

     text-decoration: none;
     color: inherit;

     font-weight: 500;
     font-size: 0.875rem;
     line-height: 1.75;
     text-transform: uppercase;
     min-width: 70px;
     padding: 6px 16px;
     border-radius: 4px;

     color: #fff;
     background-color: #0077B2;
     box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
     width: 10vw;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     margin: 0 0.7rem;
     padding: 1rem 0.5rem;
 }

 .SearchBox-module_searchContainer__N6EAo.SearchBox-module_true__-K8Gf {
     clip-path: ellipse(95% 56% at 50% 41%);
 }

 .SearchBox-module_searchContainer__N6EAo {
     background-color: #fff;
     padding: 0 16px 32px;
 }

 .SearchBox-module_swapContainer__LNhb1 {
     position: relative;
 }

 .SearchBox-module_swapContainer__LNhb1 img {
     border-radius: 50%;
     box-shadow: 0 0 3px #eaeaea;
     position: absolute;
     right: 16px;
     top: 46px;
     transition: all .5s linear;
 }

 .SearchBox-module_searchField__GvdEU {
     align-items: center;
     display: flex;
     font-size: 16px;
     padding: 16px 0;
 }

 .SearchBox-module_horizontalSeperator__EYG9O {
     border-bottom: 1px solid #eaeaea;
     margin-left: 44px;
     margin-right: -16px;
 }

 .SearchBox-module_searchField__GvdEU {
     align-items: center;
     display: flex;
     font-size: 16px;
     padding: 16px 0;
 }

 .SearchBox-module_horizontalSeperator__EYG9O {
     border-bottom: 1px solid #eaeaea;
     margin-left: 44px;
     margin-right: -16px;
 }

 .SearchBox-module_searchField__GvdEU {
     align-items: center;
     display: flex;
     font-size: 16px;
     padding: 16px 0;
 }

 .SearchBox-module_searchField__GvdEU img {
     height: 32px;
     width: 32px;
 }

 .SearchBox-module_dateContainer__ILhLr {
     align-items: center;
     display: flex;
     justify-content: space-between;
     width: 100%;
 }

 .SearchBox-module_searchField__GvdEU .SearchBox-module_input__sO9DT.SearchBox-module_doj__80FYV {
     align-self: center;
     display: flex;
     width: 96px;
 }

 .SearchBox-module_searchField__GvdEU .SearchBox-module_input__sO9DT {
     font-weight: 500;
     margin-left: 12px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 100%;
 }

 .css-165mck1 {
     display: inline-flex;
     flex-direction: column;
     position: relative;
     min-width: 0px;
     padding: 0px;
     margin: 0px;
     border: 0px;
     vertical-align: top;
 }

 .css-18vncb4 {
     font-family: Roboto, Helvetica, Arial, sans-serif;
     font-weight: 400;
     line-height: 1.4375em;
     letter-spacing: 0.00938em;
     color: rgba(0, 0, 0, 0.87);
     box-sizing: border-box;
     cursor: text;
     display: inline-flex;
     -webkit-box-align: center;
     align-items: center;
     position: relative;
     font-size: 14px;
 }

 .css-z3ltur {
     font: inherit;
     letter-spacing: inherit;
     color: currentcolor;
     padding: 4px 0px 5px;
     border: 0px;
     box-sizing: content-box;
     background: none;
     height: 1.4375em;
     margin: 0px;
     -webkit-tap-highlight-color: transparent;
     display: block;
     min-width: 0px;
     width: 100%;
     animation-name: mui-auto-fill-cancel;
     animation-duration: 10ms;
 }

 .SearchBox-module_dateContainer__ILhLr .SearchBox-module_switchDate__4hPJg {
     display: flex;
     font-size: 10px;
     font-weight: 500;
     gap: 6px;
     overflow-x: auto;
     white-space: nowrap;
 }

 .SearchBox-module_dateContainer__ILhLr .SearchBox-module_switchDate__4hPJg .SearchBox-module_date__yhCi- {
     align-items: center;

     border-radius: 4px;
     color: #999;
     display: flex;
     font-size: 12px;
     justify-content: center;
     padding: 4px 6px;
     border: 1px solid #0077B2;
 }

 .irjiU {
     margin: 8px 16px 24px;
     display: -ms-flexbox;
     display: flex;
     white-space: nowrap;


 }

 .SearchBox-module_searchContainer__N6EAo .SearchBox-module_searchBtn__2jDRT {
     background-color: #0077B2;

     box-shadow: none;
     color: #fff;
     font-size: 14px;
     font-size: 16px;
     height: 48px;
     margin-top: 24px;
     padding: 15px 24px;
     width: 100%;
     border: none;
 }

 .NavigationHeader_py-18__oasg_ {
     padding-top: 18px;
     padding-bottom: 18px;
 }

 .px-20 {
     padding-left: 20px;
     padding-right: 20px;
 }

 .bg-white {
     --tw-bg-opacity: 1;
     background-color: rgb(255 255 255 / var(--tw-bg-opacity));
 }

 .border-charcoal-100 {
     --tw-border-opacity: 1;
     border-color: rgb(224 225 227 / var(--tw-border-opacity));
 }

 .border-solid {
     border-style: solid;
 }

 .border-b {
     border-bottom-width: 1px;
 }

 .gap-10 {
     gap: 10px;
 }

 .justify-between {
     justify-content: space-between;
 }

 .items-center {
     align-items: center;
 }

 .flex {
     display: flex;
 }

 .mb-3 {
     margin-bottom: .75rem;
 }

 @media only screen and (min-width: 382px) {
     .irjiU span {
         text-align: center;
         border-radius: 96px;
         border: 1px solid #0077B2;
         white-space: nowrap;
         padding: 8px 12px;
         margin-right: 8px;
         -ms-flex-positive: 1;
         flex-grow: 1;
         font-size: 14px;
         color: #101010;
         font-weight: 400;
         line-height: 20px;
     }
 }

 .tHNYl ._Z96F .ESRJh {
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     gap: 1px;
     background-color: #e7f1f8;
     border-radius: 4px;
     padding: 2px;
 }

 .tHNYl ._Z96F .ESRJh {
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
     justify-content: center;
     gap: 1px;
     background-color: #e7f1f8;
     border-radius: 4px;
     padding: 2px;
 }

 .tHNYl ._Z96F .ESRJh .BvgBs {
     padding: 4px 20px;
 }

 .tHNYl ._Z96F .ESRJh .BvgBs {
     padding: 4px 20px;
 }

 .tHNYl ._Z96F .ESRJh .YiP4b {
     background-color: #fff;
     border-radius: 4px;
     -webkit-box-shadow: 0 1px 4px -2px rgba(16, 16, 16, .13);
     box-shadow: 0 1px 4px -2px rgba(16, 16, 16, .13);
     padding: 4px 20px;
 }

 .tHNYl,
 ._Z96F {

     display: flex;
     -ms-flex-pack: center;
     justify-content: center;
     margin: 16px 0;
 }

 .tHNYl ._Z96F .ESRJh .BvgBs {
     padding: 4px 20px;
 }

 .tHNYl ._Z96F .ESRJh .YiP4b {
     background-color: #fff;
     border-radius: 4px;

     box-shadow: 0 1px 4px -2px rgba(16, 16, 16, .13);
     padding: 4px 20px;
 }

 .tHNYl ._Z96F .ESRJh .BvgBs {
     padding: 4px 20px;
 }

 .seathead {
     border-radius: 15px;
     width: 80vw;
     background-color: #fff;
     box-shadow: 1px 2px 6px rgba(0, 0, 0, .15), -1px -1px 6px rgba(0, 0, 0, .06);

     margin: 0 auto 8vw;
 }

 .station {
     width: 14vw;
     height: 4vw;
     padding-Left: 2.8em;
     border: 1px solid #D8D8D8;
     border-radius: 4px;

 }

 .tostation {
     width: 14vw;
     height: 4vw;
     padding-Left: 2.8em;
     border: 1px solid #D8D8D8;
     border-radius: 4px;
 }

 .From {
     width: 30px;
         height: 24px;
         position: absolute;
         left: 0.8em;
         top: 34%;
         transform: translateY(-50%);
         
 }
 .swap-image {
    content:url("../src/assets//images/Swap.svg");
    color: transparent;
  max-width: 100%;
  height: auto;
 }
 


 @media (max-width:1000px) {

     .station,
     .tostation {
         width: 68vw;
         height: 17vw;
        

         border: none;
          border-bottom: 1px solid #e2e2e2;
         /* Only add bottom border */
         outline: none;
         

     }
     .From {
        width: 30px;
        height: 24px;
        position: absolute;
        left: 0.7em;
        top:25%;
        transform: translateY(-50%);
        max-width: 100%;
        height: auto;
       
    }
    .swap-image {
        content: url('../src/assets/images/Swapdown.svg'); 
        position: absolute;
        
    top: 58px;
  
        margin-top: -32px;
        margin-left: 30px;
      }
 }