.selectdown{
  border: none;
  border-bottom: 2px solid #0077b2;
  box-sizing: border-box;
  width: 40%;
}
.selectdown-age{
  border: none;
  border-bottom: 2px solid #0077b2;
  box-sizing: border-box;
  width: 40%;
}
.selectup{
  border: none;
  border-bottom: 2px solid #0077b2;
  box-sizing: border-box;
  width: 200px
}
.underline-text-input {
    position: relative;
  }
  
.underline-text-input-field {
  border: none;
  border-bottom: 2px solid #0077b2; /* Change the color as needed */
  outline: none;
  width: 80%;
  padding: 5px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* Optional: Style placeholder */
.underline-text-input-field::placeholder {
  color:#0077b2 ; /* Change the color as needed */
}
.cancel-icon {
  position: absolute;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black; 
}

.cancel-icon:hover {
  color: #000; 
}
.Age{
  margin-Bottom: 20px;
                  padding-Left: 10px;
                  padding-Right: 15px;
}


/* Add this CSS after your existing styles */

/* For screens up to 768px wide */
@media (max-width: 768px) {
  .selectup,
  .selectdown {
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: none; /* Remove the maximum width */
  }
}

/* For screens between 768px and 1000px wide */
@media (min-width: 769px) and (max-width: 1000px) {
  .selectup,
  .selectdown {
    width: 50%; /* Adjust width as needed */
    max-width: none; /* Remove the maximum width */
  }
}

@media (max-width: 1000px) {
  .selectup {
    border: none;
    border-bottom: 2px solid #0077B2;
    box-sizing: border-box;
    width: 100%; /* Set width to 100% */
   
  }
  .selectdown {
    border: none;
    border-bottom: 2px solid #0077B2;
    box-sizing: border-box;
    width:100%; 
    
    /* Set width to 100% */
    
  }
  .Age{
    margin-Bottom: 20px;
                    padding-Left: 10px;
                    padding-Right: 36px;
  }
}
