.footer-logo-icon {
   
    width: 33.35px;
    height: 46px;
    cursor: pointer;
}.company,
.footer-links,
.support {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 14px;
    list-style: none;
}

.footer-links {
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    color: #0077B2;
}
.pricing {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    color: #ebeded;
    text-align: left;
    display: inline-block;
    align-self: stretch;
    position: relative;
}


.social-link,
.support2 {
    display: flex;
    justify-content: flex-start;
}

.social-link {
    width: 276px;
    flex-direction: column;
    align-items: flex-end;
    gap: 75px;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.pricing:hover,
.privacy-policy:hover,
.terms-condition:hover {
    color: #0077B2;
}
.footer-content-child {
    align-self: stretch;
    position: relative;
    background-color: #cbcbcb;
    height: 2px;
}