.Seat {
    width: 58px;
    height: 58px;
    background-color: #fff;
    align-items: center;
    border-radius: 50%;
    margin: 24px 0 19px;
}
.Seatbox {
    position: relative;
    z-index: 1;
    margin-bottom: 77px;
   
}
.Seatcard {
      
    width: 1200px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0px 2px 5px #0f1417;
  border-radius: 20px;
  padding: 32px 40px 24px;
  margin: 0 auto;

    
}

.Seatcard-inner {
    display: flex;
    margin-top: 37px;
    align-items: center;
    border:12px solid rgb(255, 94, 0);
}
.Seatcard-inner-in {
    margin-right: 12px;
    position: relative;
    border:2px solid green;
}
.Seatcard-inner-left {
    border: 2px solid #f60d0d;
    border-radius: 8px;
    height: 72px;
    background: #fff;
    cursor: pointer;
    position: relative;
    padding: 16px 18px 15px
}
.Seatcard-inner-left  {
    padding: 16px 18px 15px 28px;
    
}
.Seatcard-inner-left :hover {
    border-color: #777
}
.Seatcard-inner-left .fswDownArrow {
    position: absolute;
    right: 12px;
    top: 21px
}
.Seatfrom{
      
    font-size: 14px;
    display: inline-flex;
    font-weight: 500;
    color: #777;
    position: absolute;
    padding: 0 4px;
    left: 14px;
    top: -10px;
    background-color: #fff
}
.Seatchioce {
    display: flex;
    align-items: center;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    color: #c2c2c2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid red;
}
.Seatreverse {
    box-shadow: 0 0 10px rgba(0,0,0,.103);
    border-radius: 12px;
    background-color: #fff;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: -24px;
    top: 18px;
    z-index: 1;
    padding: 8px;
    
}

.Seatreverse>img {
    width: 16px;
    vertical-align: top
}
.Destinationto {
    left: 24px;

}
.DownArrow {
    border: solid #2276e3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}
.Seatbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -54px
}

.Seatsearch {
    background: #0077B2;
    font-family: Rubik;
    font-weight: 600
}

.Seatsearch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    padding: 16px 45px;
    outline: 0;
    border: 0;
    cursor: pointer
}
